* {
    box-sizing: border-box;
}

:root {
    --width: 80vw;
    --max-width: 922px;
}

body {
    background: url('../assets/rapeatable-bg.png');
    font-family: 'Open Sans', sans-serif;
}

.designfly-seperator {
    background-color: #fff;
    border-top: 1px solid #62585f;
    margin: 5px 0px 5px 0px;
}

a, a:visited {
    color: #ef4634;
    text-decoration: none;
}

a:hover {
    color: #ef4634;
    text-decoration: underline;
}

/* 
Header
*/

#logo, #site-navigation, .menu-main-menu-container, #search-form-nav, #menu-n-search-container {
    display: inline-block;
    vertical-align: middle;
}

#search-field-nav {
    height: 20px;
    min-height: 0px;
    width: 150px;
    border: 1px solid #62585f;
    border-radius: 3px;
    padding: 0px;
}

#search-img-nav {
    vertical-align: top;
}

#site-navigation-outter-box {
    position: relative;
    z-index: 1;
}

.site-navigation-outter-box--shadow {
    box-shadow: 0px 5px 10px -5px #333;
}

#site-navigation-container {
    height: 105px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.designfly-content-container {
    width: var(--width);
    max-width: var(--max-width);
    margin: auto;
}

#menu-n-search-container {
    float: right;
    position: relative;
    top: 21px;
}

#primary-menu {
    line-height: 5px;
    height: 25px;
}

.menu-item a {
    font-weight: 700;
    font-size: 14px;
    line-height: 5px;
    padding: 10px;
    margin-right: 10px;
    margin-bottom: 0px;
    border-radius: 3px;
    color: #222
}

.menu-item a:hover {
    background-color: #ef4634;
    color: #fff;
    text-decoration: none;
}

#home-banner-container {
    height: 544px;
    background-color: #e73d2d;
    position: relative;
    margin-bottom: 3px;
}

#home-banner-img-container {
    height: 544px;
    background-image: url(../assets/home/slider-image.png);
    background-repeat: no-repeat;
    display: block;
    width: 620px;
    margin: auto;
}

#banner-site-title {
    color: #fff;
    font-weight: 700;
    font-size: 70px;
    text-shadow: 0px 2px 0px #950904;
    position: absolute;
    width: 720px;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
}

#banner-site-description {
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    position: absolute;
    width: 700px;
    top: 75%;
    left: 50%;
    transform: translateX(-50%);
}

#banner-slider-arrows-left {
    position: absolute;
    left: 18%;
    top: 250px;
}

#banner-slider-arrows-right {
    position: absolute;
    right: 18%;
    top: 250px;
}

#features-head-outter-box {
    background-image: url(../assets/home/features-repeatable-bg.png);
    height: 101px;
}

#features-head-container {
    display: flex;
}

.feature-head-item {
    display: inline-block;
    height: 101px;
    width: 33.33%;
}

.feature-head-img {
    height: 50px;
    position: relative;
    top: 25px;
}

.feature-head-text {
    float: right;
    width: calc(100% - 60px);
}

.feature-head-text h3 {
    margin: 10px 0px 10px 0px;
    font-size: 20px;
    color: #ef4634;
    text-shadow: 0px 2px 0px #fff;
    font-weight: 700;
}

.feature-head-text h3:hover {
    color: #222;
}

.feature-head-text p {
    margin: 0px;
    font-size: 13px;
    font-weight: 400;
    color: #333;
    line-height: 19.5px;
}

/* 
Footer
*/

#designfly-footer1 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.designfly-orange-text {
    color: #ef4634 !important;
}

#designfly-welcome-footer {
    width: 50%;
}

#designfly-footer1 h1 {
    color: #62585f;
    font-size: 25px;
    text-shadow: 0px 2px 0px #fff;
    font-weight: 400;
}

#designfly-footer1 p {
    color: #62585f;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
}

#designfly-footer2 {
    text-align: center;
}

/* 
Single Blog Page (single.php)
*/

#designfly-blogpage-container {
    display: flex;
    flex-direction: row;
}

#secondary {
    float: none;
}

#designfly-main-post {
    width: 620px;
}

.entry-title {
    font-size: 35px;
    font-weight: 400;
    color: #62585f;
    text-shadow: 0px 2px 0px #fff;
}

.entry-content p{
    font-size: 14px;
    font-weight: 400;
    color: #62585f;
    line-height: 21px;
}

.wp-post-image {
    border-radius: 3px;
    width: 620px;
}

.entry-content img {
    border-radius: 3px !important;
    width: 620px;
}

.cat-links, .tags-links {
    font-size: 13px;
    color: #62585f;
}

.comments-title {
    font-size: 18px;
    font-weight: 400;
    color: #62585f;
    margin: 0px;
}

.comment-list .url, .says {
    font-size: 13px;
    font-weight: 400;
}

.comment-content {
    font-size: 14px;
    color: #62585f;
    font-weight: 400;
    line-height: 21px;
}

.reply {
    text-align: right;
}

.reply a {
    color: #62585f;
}

#reply-title {
    font-size: 18px;
    font-weight: 400;
    color: #62585f;
}

#comment {
    width: 620px;
    height: 90px;
    border: 1px solid #62585f;
}

#url, #author, #email {
    border: 1px solid #62585f;
}

label {
    font-size: 14px;
    font-weight: 400;
    color: #62585f;
}

#comment-form-field-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 620px;
}

/* 
Sidebar
*/

#secondary {
    padding-left: 30px;
    width: calc(var(--max-width) - 620px);
}

#secondary h2 {
    color: #62585f;
    font-weight: 400;
    font-size: 25px;
    border-bottom: 1px solid #62585f;
    text-shadow: 0px 2px 0px #fff;
}

#secondary ul {
    list-style-type: none;
    margin-left: 15px;
    padding: 0px;
}

#secondary a {
    color: #62585f;
}

/* 
Front Page
*/

#front-portfolio-grid {
    display: grid;
	grid-template-columns: repeat(3, auto);
	grid-template-rows: repeat(2, auto);
	padding: 20px 0px 20px 0px;
    grid-gap: 10px;
	justify-content: center;
    border-top: 1px solid #62585f;
}

#front-portfolio-grid img {
    width: 300px;
    height: 210px;
    border-radius: 10px;
}

#front-portfolio-title {
    font-size: 45px;
    font-weight: 300;
    color: #62585f;
    text-shadow: 0px 2px 0px #fff;
    margin-top: 40px;
}

#front-portfolio-button {
    background-color: #222;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    padding: 10px;
    border-radius: 3px;
    position: absolute;
    right: 0px;
    top: 20px;
}

#front-portfolio-button:hover {
    cursor: pointer;
}

/* 
Portfolio
*/

#designfly-pagination {
    text-align: center;
    margin: 20px;
    font-size: 16px;
    font-weight: 600;
}

.page-numbers, a.page-numbers {
    display: inline-block;
    height: 30px;
    width: 30px;
    color: #222;
    border-radius: 3px;
}

#designfly-pagination a:hover {
    color: #fff;
    background: #ef4634;
    text-decoration: none;
}

.prev {
    position: relative;
    top: 1px;
}

.next.page-numbers:hover, .prev.page-numbers:hover{
    background-color: transparent !important;
}

#designfly-pagination-arrow-right {
    display: inline-block;
    width: 25px;
    height: 13px;
    background-image: url(../assets/other-pages/pagination-arrow.png);
    background-repeat: no-repeat;
    background-size: contain;
}

#designfly-pagination-arrow-left {
    display: inline-block;
    width: 25px;
    height: 13px;
    background-image: url(../assets/other-pages/pagination-arrow.png);
    background-repeat: no-repeat;
    background-size: contain;
    transform: rotate(180deg);
}

#designfly-portfolio-head h1 {
    display: inline-block;
    font-weight: 300;
    font-size: 45px;
    margin-bottom: 10px;
    color: #62585f;
}

#designfly-portfolio-head button {
    display: inline-block;
    position: relative;
    top: 40px;
    float: right;
    font-weight: 400;
    margin: 5px;
    font-size: 16px;
    color: #fff;
    padding: 10px;
    background-color: #222;
    border-radius: 5px;
}

#designfly-portfolio-head button:hover {
    background-color: #ef4634;
}

#designfly-portfolio-grid {
    display: grid;
	grid-template-columns: repeat(3, auto);
	padding: 20px 0px 20px 0px;
    grid-gap: 10px;
	justify-content: center;
}

.designfly-portfolio-div {
    background-color: #222;
    border-radius: 10px;
    height: 210px;
}

#designfly-portfolio-grid img{
    width: 300px;
    height: 210px;
    border-radius: 10px;
    opacity: 1;
    transition: opacity 0.4s;
}

#designfly-portfolio-grid img:hover {
    opacity: 0.3;
}

/* Thickbox */

#TB_title {
    border: none;
}

#TB_ajaxContent {
    padding: 0px 0px 0px 30px;
}

#TB_ajaxContent .wp-post-image {
    height: 340px;
    width: 450px;
}

#TB_ajaxContent p {
    margin: 10px;
    font-size: 18px;
    font-weight: 600;
    color: #62585f;
}

.tb-close-icon {
    position: relative;
    height: 35px;
    width: 35px;
    right: -30px;
    border: none;
    background-color: #fff;
}

/* 
Blog Page
*/


#designfly-blog-outter-box {
    background: #222;
    border-radius: 3px;
}

#designfly-blog-outter-box:hover {
    background: #ef4634;
}

.designfly-blog-box {
    height: 50px;
    display: inline-block;
    vertical-align: top;
    color: #eee;
    text-align: center;
}
  
.designfly-blog-box1 {
    width: 50px;
    border-right: 1px solid #ffffff30;
}
  
.designfly-blog-box2 {
    width: calc(100% - 50px);
}

#designfly-blog-outter-box a:hover {
    text-decoration: none;
}
  
#designfly-blog-outter-box p, #designfly-blog-outter-box h1 {
    margin: 0px;
    color: #fff;
    font-weight: 400;
}

#designfly-blog-outter-box h1 {
    font-size: 20px;
    margin: 10px 0px 10px 0px;
}
  
.designfly-blog-innerbox1 {
    height: 60%;
    font-size: 25px;
}
  
.designfly-blog-innerbox2 {
    height: 40%;
    font-size: 14px;
}

#designfly-blog-title {
    font-weight: 300;
    font-size: 45px;
    color: #62585f;
    text-shadow: 0px 2px 0px #fff;
    margin-bottom: 5px;
}

.designfly-blogpost {
    margin: 20px 0px 20px 0px;
}
  
.designfly-blogpost img {
    width: 220px;
    height: 153px;
    border-radius: 10px;
}

.designfly-blogpost p {
    margin: 0px;
}

.designfly-blogpost-content {
    display: inline-block;
    vertical-align: top;
    width: 395px;
    padding-left: 15px;
    color: #62585f;
    font-weight: 400;
}

#designfly-byline {
    font-size: 13px;
}

.designfly-blogpost-content p {
    font-size: 14px;
    line-height: 21px;
}
  