* {
    box-sizing: border-box;
}

:root {
    --width: 80vw;
    --max-width: 922px;
}

body {
    background: url('../assets/rapeatable-bg.png');
    font-family: 'Open Sans', sans-serif;
}

.designfly-seperator {
    background-color: #fff;
    border-top: 1px solid #62585f;
    margin: 5px 0px 5px 0px;
}

a, a:visited {
    color: #ef4634;
    text-decoration: none;
}

a:hover {
    color: #ef4634;
    text-decoration: underline;
}

/* 
Header
*/

#logo, #site-navigation, .menu-main-menu-container, #search-form-nav, #menu-n-search-container {
    display: inline-block;
    vertical-align: middle;
}

#search-field-nav {
    height: 20px;
    min-height: 0px;
    width: 150px;
    border: 1px solid #62585f;
    border-radius: 3px;
    padding: 0px;
}

#search-img-nav {
    vertical-align: top;
}

#site-navigation-outter-box {
    position: relative;
    z-index: 1;
}

.site-navigation-outter-box--shadow {
    box-shadow: 0px 5px 10px -5px #333;
}

#site-navigation-container {
    height: 105px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.designfly-content-container {
    width: var(--width);
    max-width: var(--max-width);
    margin: auto;
}

#menu-n-search-container {
    float: right;
    position: relative;
    top: 21px;
}

#primary-menu {
    line-height: 5px;
    height: 25px;
}

.menu-item a {
    font-weight: 700;
    font-size: 14px;
    line-height: 5px;
    padding: 10px;
    margin-right: 10px;
    margin-bottom: 0px;
    border-radius: 3px;
    color: #222
}

.menu-item a:hover {
    background-color: #ef4634;
    color: #fff;
    text-decoration: none;
}

#home-banner-container {
    height: 544px;
    background-color: #e73d2d;
    position: relative;
    margin-bottom: 3px;
}

#home-banner-img-container {
    height: 544px;
    background-image: url(../assets/home/slider-image.png);
    background-repeat: no-repeat;
    display: block;
    width: 620px;
    margin: auto;
}

#banner-site-title {
    color: #fff;
    font-weight: 700;
    font-size: 70px;
    text-shadow: 0px 2px 0px #950904;
    position: absolute;
    width: 720px;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
}

#banner-site-description {
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    position: absolute;
    width: 700px;
    top: 75%;
    left: 50%;
    transform: translateX(-50%);
}

#banner-slider-arrows-left {
    position: absolute;
    left: 18%;
    top: 250px;
}

#banner-slider-arrows-right {
    position: absolute;
    right: 18%;
    top: 250px;
}

#features-head-outter-box {
    background-image: url(../assets/home/features-repeatable-bg.png);
    height: 101px;
}

#features-head-container {
    display: flex;
}

.feature-head-item {
    display: inline-block;
    height: 101px;
    width: 33.33%;
}

.feature-head-img {
    height: 50px;
    position: relative;
    top: 25px;
}

.feature-head-text {
    float: right;
    width: calc(100% - 60px);
}

.feature-head-text h3 {
    margin: 10px 0px 10px 0px;
    font-size: 20px;
    color: #ef4634;
    text-shadow: 0px 2px 0px #fff;
    font-weight: 700;
}

.feature-head-text h3:hover {
    color: #222;
}

.feature-head-text p {
    margin: 0px;
    font-size: 13px;
    font-weight: 400;
    color: #333;
    line-height: 19.5px;
}

/* 
Footer
*/

#designfly-footer1 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.designfly-orange-text {
    color: #ef4634 !important;
}

#designfly-welcome-footer {
    width: 50%;
}

#designfly-footer1 h1 {
    color: #62585f;
    font-size: 25px;
    text-shadow: 0px 2px 0px #fff;
    font-weight: 400;
}

#designfly-footer1 p {
    color: #62585f;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
}

#designfly-footer2 {
    text-align: center;
}

/* 
Single Blog Page (single.php)
*/

#designfly-blogpage-container {
    display: flex;
    flex-direction: row;
}

#secondary {
    float: none;
}

#designfly-main-post {
    width: 70%;
}

.entry-title {
    font-size: 35px;
    font-weight: 400;
    color: #62585f;
    text-shadow: 0px 2px 0px #fff;
}

.entry-content p{
    font-size: 14px;
    font-weight: 400;
    color: #62585f;
    line-height: 21px;
}

.wp-post-image, .entry-content img {
    border-radius: 3px !important;
    width: 620px;
}

.cat-links, .tags-links {
    font-size: 13px;
    color: #62585f;
}

.comments-title {
    font-size: 18px;
    font-weight: 400;
    color: #62585f;
    margin: 0px;
}

